#left-ear,
#right-ear {
  transition: all .5s linear;
}

#bear:hover #left-ear {
  transform: translateY(-10px);
}

#bear:hover #right-ear {
  transform: translateY(-10px);
}

#left-eye {
  animation: glancing 3s infinite forwards;
}

#right-eye {
  animation: glancing 3s infinite forwards;
}

@keyframes glancing {

  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(5px);
  }

}
